extends ../node_modules/poe-ui/views/layout

prepend head
  script(src="//use.typekit.net/knk3grl.js")
  script try{Typekit.load();}catch(e){}

block body
  header(data-ng-include, src="'/partials/header.jade'")
  main(data-ng-view="")
  footer(data-ng-include, src="'/partials/footer.jade'")
