img.avatar(src='http://i.imgur.com/k5wbNdC.jpg')
br
p
  | hi, i'm 
  a(href='http://www.twitter.com/davfry') @davfry
  | . I'm a front end developer in SLC,UT. I founded 
  a(href='http://www.morningperson.co') morning person
  | .
