section.accordian
  div
    input#ac-1(name='accordion-1', type='checkbox')
    label(for='ac-1') Accordian Small
    article.ac-small
      p This is a small accordian content box. 
  div
    input#ac-2(name='accordion-1', type='checkbox')
    label(for='ac-2') Accordian Medium
    article.ac-medium
      p This is a medium accordian content box.
  div
    input#ac-3(name='accordion-1', type='checkbox')
    label(for='ac-3') Accordian Large
    article.ac-large
      p This is a large accordian content box.
