.btn-pink-darkest Button
.btn-pink-darker Button
.btn-pink-dark Button
.btn-pink Button
.btn-pink-light Button
.btn-pink-lighter Button
.btn-pink-lightest Button
br
.btn-outline-purple-darkest Button
.btn-outline-purple-darker Button
.btn-outline-purple-dark Button
.btn-outline-purple Button
.btn-outline-purple-light Button
.btn-outline-purple-lighter Button
.btn-outline-purple-lightest Button
br
.btn-circ-grey-darkest +
.btn-circ-grey-darker +
.btn-circ-grey-dark +
.btn-circ-grey +
.btn-circ-grey-light +
.btn-circ-grey-lighter +
.btn-circ-grey-lightest +
br
.btn-circ-outline-yellow-darkest +
.btn-circ-outline-yellow-darker +
.btn-circ-outline-yellow-dark +
.btn-circ-outline-yellow +
.btn-circ-outline-yellow-light +
.btn-circ-outline-yellow-lighter +
.btn-circ-outline-yellow-lightest +
