|.btn-color-shade [button name]
br
.btn-grey-darkest Button
.btn-grey-darker Button
.btn-grey-dark Button
.btn-grey Button
.btn-grey-light Button
.btn-grey-lighter Button
.btn-grey-lightest Button
br
|.btn-outline-color-shade [button name]
br
.btn-outline-grey-darkest Button
.btn-outline-grey-darker Button
.btn-outline-grey-dark Button
.btn-outline-grey Button
.btn-outline-grey-light Button
.btn-outline-grey-lighter Button
.btn-outline-grey-lightest Button
br
|.btn-circ-color-shade [button name]
br
.btn-circ-grey-darkest
  i.fa.fa-check
.btn-circ-grey-darker
  i.fa.fa-chevron-left
.btn-circ-grey-dark
  i.fa.fa-chevron-right
.btn-circ-grey
  i.fa.fa-chevron-down
.btn-circ-grey-light
  i.fa.fa-chevron-up
.btn-circ-grey-lighter
  i.fa.fa-code
.btn-circ-grey-lightest
  i.fa.fa-code
br
|.btn-circ-outline-color-shade [button name]
br
.btn-circ-outline-grey-darkest
  i.fa.fa-plus
.btn-circ-outline-grey-darker
  i.fa.fa-plus
.btn-circ-outline-grey-dark
  i.fa.fa-plus
.btn-circ-outline-grey
  i.fa.fa-plus
.btn-circ-outline-grey-light
  i.fa.fa-plus
.btn-circ-outline-grey-lighter
  i.fa.fa-plus
.btn-circ-outline-grey-lightest
  i.fa.fa-plus
br
.btn-warning Warning
.btn-success Success
.btn-info Info
.btn-danger Danger
br
.btn-outline-warning Warning
.btn-outline-success Success
.btn-outline-info Info
.btn-outline-danger Danger
