|.btn-color-shade [button name]
br
.btn-grey-darkest Button
.btn-grey-darker Button
.btn-grey-dark Button
.btn-grey Button
.btn-grey-light Button
.btn-grey-lighter Button
.btn-grey-lightest Button
br
|.btn-outline-color-shade [button name]
br
.btn-outline-grey-darkest Button
.btn-outline-grey-darker Button
.btn-outline-grey-dark Button
.btn-outline-grey Button
.btn-outline-grey-light Button
.btn-outline-grey-lighter Button
.btn-outline-grey-lightest Button
br
|.btn-circ-color-shade [button name]
br
.btn-circ-grey-darkest +
.btn-circ-grey-darker +
.btn-circ-grey-dark +
.btn-circ-grey +
.btn-circ-grey-light +
.btn-circ-grey-lighter +
.btn-circ-grey-lightest +
br
|.btn-circ-outline-color-shade [button name]
br
.btn-circ-outline-grey-darkest +
.btn-circ-outline-grey-darker +
.btn-circ-outline-grey-dark +
.btn-circ-outline-grey +
.btn-circ-outline-grey-light +
.btn-circ-outline-grey-lighter +
.btn-circ-outline-grey-lightest +
br
