.black.btn button
.white.btn.black-text button
.yellow.btn button
.blue.btn button
.red.btn button
.green.btn button
.purple.btn button
br
.black.btn-flat button
.white.btn-flat.black-text button
.yellow.btn-flat button
.blue.btn-flat button
.red.btn-flat button
.green.btn-flat button
.purple.btn-flat button
br
.black.btn-outline button
.yellow.btn-outline.yellow-text button
.blue.btn-outline.blue-text button
.red.btn-outline.red-text button
.green.btn-outline.green-text button
.purple.btn-outline.purple-text button
br
.black.btn-circ +
.yellow.btn-circ.black-text +
.blue.btn-circ +
.red.btn-circ +
.green.btn-circ +
.purple.btn-circ +
