h2
  | colors
.color-black
  .hover-color black
.color-grey
  .hover-color grey
.color-brown
  .hover-color brown
.color-off-white
  .hover-color off-white
.color-pink
  .hover-color pink
.color-red
  .hover-color red
.color-red-orange
  .hover-color red-orange
.color-orange
  .hover-color orange
.color-yellow
  .hover-color yellow
.color-green
  .hover-color green
.color-sky
  .hover-color sky
.color-blue
  .hover-color blue
.color-purple
  .hover-color purple
br
br
p.explain
  |to use, append a component's class with -color. for different shades append color with -light, -lighter, -lightest, -dark, -darker, -darkest.
