h2
  | colors
p.explain
  |to use, append a component with -color. for different shades append color with -light, -lighter, -lightest, -dark, -darker, -darkest.
.flex-container
  .flex-item.color-black
  .flex-item.color-grey
  .flex-item.color-brown
  .flex-item.color-off-white
  .flex-item.color-pink
  .flex-item.color-red
  .flex-item.color-red-orange
  .flex-item.color-orange
  .flex-item.color-yellow
  .flex-item.color-green
  .flex-item.color-sky
  .flex-item.color-blue
  .flex-item.color-purple
