.black.color
.white.color
.grey.color
.red.color
.yellow.color
.blue.color
.orange.color
.green.color
.purple.color
.yellow-orange.color
.red-orange.color
.red-violet.color
.blue-violet.color
.blue-green.color
.yellow-green.color
.gray.color
