//- nav.nav
//-   .nav-list
//-     a(href='/').nav-logo matter
//-     a(href='/color') colors
//-     a(href='/buttons') buttons 
//-     a(href='/modal') modals
//-     a(href='/psuedo') cards
//-     a(href='/accordian') accordian
//-     a(href='/inputs') inputs

nav.nav-grey
      a(href='/').nav-logo matter
      ul.nav-list
        li
          a(href='#') components
          ul
            li
              a(href='/color') colors
            li
              a(href='/buttons') buttons
            li
              a(href='/modal') modals
            li
              a(href='/psuedo') cards
            li
              a(href='/accordian') accordian
            li
              a(href='/inputs') inputs
        li
          a(href='#') tutorial
        li
          a(href='/about') about
