nav.nav.black-text
  .nav-list
    a(href='/').nav-logo matter
    a(href='/color') colors
    a(href='/buttons') buttons 
    a(href='/modal') modals
    a(href='/psuedo') cards
    a(href='/accordian') accordian
    a(href='/inputs') inputs
