nav.nav-grey
      a(href='/').nav-logo matter
      ul.nav-list
        li
          a(href='#')
            i.nav-stack.fa.fa-bars
.nav-screen
  ul
    li
      a(href='/color') colors
    li
      a(href='/buttons') buttons
    li
      a(href='/modal') modal
    li
      a(href='/psuedo') cards
    li
      a(href='/accordian') accordian
    li
      a(href='/inputs') inputs
  .nav-close ×
      
            
        //-   a(href='#') components
        //-   ul
        //-     li
        //-       a(href='/color') colors
        //-     li
        //-       a(href='/buttons') buttons
        //-     li
        //-       a(href='/modal') modals
        //-     li
        //-       a(href='/psuedo') cards
        //-     li
        //-       a(href='/accordian') accordian
        //-     li
        //-       a(href='/inputs') inputs
        //- li
        //-   a(href='#') tutorial
        //- li
        //-   a(href='/about') about
