.intro
  | matter is a collection of simple components to make fast web apps. i built it with jade, stylus, and angular. 
  br
  br
  | use 
  a(href='https://github.com/poegroup') poe 
  | to make fast, scalable web apps. 
br
br
