form
  input(type='text', placeholder='text input')
  br
  input#radio01(type='radio', name='radio')
  label(for='radio01')
    span
      |Radio
  br
  input.black(type='submit')
  br
  input(type='checkbox')
  br
  input(type='color')
  br
  input(type='date')
  br
  input(type='datetime')
  br
  input(type='email')
  br
  input(type='file')
  br
  input(type='number')
  br
  input(type='password')
  br
  input(type='range')
  br
  input(type='reset')
  
