form
  input(type='text', placeholder='text input')
  br
  input(type='password', placeholder='password')
  br
  input(type='email', placeholder='email')
  br
  input(type='submit')
  input(type='reset')
  br
  input(type='radio')
  | Radio
  br
  input(type='checkbox')
  | Checkbox
  br
  input(type='color')
  br
  input(type='date')
  br
  input(type='datetime')
  br
  input(type='file')
  br
  input(type='number')
  br
  input(type='range')
  br
  
  
