form
  input(type='text', placeholder='text input')
  br
  .options
    input#touch.hide(name='option', type='radio')
    label(for='touch') Touch Me
  br
  input(type='submit')
  br
  input(type='checkbox')
  br
  input(type='color')
  br
  input(type='date')
  br
  input(type='datetime')
  br
  input(type='email')
  br
  input(type='file')
  br
  input(type='number')
  br
  input(type='password')
  br
  input(type='range')
  br
  input(type='reset')
  
