form(name="testForm" ng-submit="testForm.valid") 
  form-title form elements
  br
  br
  input(type='text', placeholder='text input')
  br
  input(type='password', placeholder='password')
  br
  input(type='email', placeholder='email' required)
  br
  input(type='submit')
  br
  input(type='reset')
  br
  //- input(type='radio')
  //- | Radio
  //- br
  //- input(type='checkbox')
  //- | Checkbox
  //- br
  //- input(type='color')
  //- br
  //- input(type='date')
  //- br
  //- input(type='datetime')
  //- br
  //- input(type='file')
  //- br
  //- input(type='number')
  //- br
  //- input(type='range')
  //- br
  //- 
  //- 
//- br
//- button(type='submit')
//-   i.fa.fa-check
//- button(type='reset')
//-   i.fa.fa-close
