.btn-purple(ng-click='showModal = !showModal') Modal

.modal(ng-hide='showModal != true')
  .modal-overlay(ng-click='showModal = false')
  .modal-inner
    .modal-close(ng-click='showModal = false') ×
    p
      |You have to be over 13 to enter. 3 people will win the grand prize based on the goals we like best. Winner will be announced 2/30/15.
      |Enter your email so we can let you know if you won. (We won’t spam you).
    input(type='text' placeholder='milton@intech.com')
    input(type='submit')
