.flex-container

  .flex-item.caption-hover(data-title='Data Title', data-description='This is the data-description.')
        img(src='https://github.com/identicons/camshaft.png', alt='camshaft avatar')

  .flex-item.caption(data-title='Data Title', data-description='This is the data-description.')
    img(src='https://github.com/identicons/davfry.png')
