//- .left.caption-hover(data-title='Data Title', data-description='This is the data-description.')
//-         img(src='https://github.com/identicons/camshaft.png', alt='camshaft avatar')
//- 
//- .caption(data-title='Data Title', data-description='This is the data-description.')
//-     img(src='https://github.com/identicons/davfry.png')
.card
  h1 Card    
  p
    | this is a card with content up the wazooo. content content content content content content content content content 
.card-dashed
  h1 Card    
  p
    | this is a card with content up the wazooo. content content content content content content content content content 
